In [1]:
import pandas as pd
import numpy as np
import os
import hashlib
from clean_payroll_script import get_cleaned_df
from sqlalchemy import create_engine
import pymysql
import getpass  # To get the password without showing the input
import mysql.connector
import time
from sqlalchemy import text
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
os.getcwd()

'c:\\Users\\bfran\\Ironhack\\New-York-Payroll-Analysis'

In [12]:
# Set pandas display options to avoid scientific notation
pd.set_option('display.float_format', lambda x: '%.2f' % x)

In [3]:
# Ensure payroll information is saved in current working directory as 'Payroll.csv'
# Pulls function from clean_payroll_script to get and clean payroll data and save as csv for future use
# payroll = get_cleaned_df()

c:\Users\bfran\Ironhack\New-York-Payroll-Analysis\clean_payroll_script.py:11: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  payroll = pd.read_csv('Payroll.csv')

In [3]:
payroll = pd.read_csv('cleaned_payroll.csv')

In [4]:
payroll

,worker_id,fiscal_year,agency_name,agency_start_date,work_location_borough,title_description,leave_status_as_of_june_30,base_salary,pay_basis,regular_hours,regular_gross_paid,ot_hours,total_ot_paid,total_other_pay,converted_salary,total_pay,true_index
0,MBEPM_08102015,2020,OFFICE OF EMERGENCY MANAGEMENT,2015-08-10,BROOKLYN,EMERGENCY PREPAREDNESS MANAGER,ACTIVE,86005.00,PER ANNUM,1820.0,84698.21,0.00,0.00,0.00,86005.00,84698.21,0
1,VGEPM_09122016,2020,OFFICE OF EMERGENCY MANAGEMENT,2016-09-12,BROOKLYN,EMERGENCY PREPAREDNESS MANAGER,ACTIVE,86005.00,PER ANNUM,1820.0,84698.21,0.00,0.00,0.00,86005.00,84698.21,1
2,SREPM_02222016,2020,OFFICE OF EMERGENCY MANAGEMENT,2016-02-22,BROOKLYN,EMERGENCY PREPAREDNESS MANAGER,ACTIVE,86005.00,PER ANNUM,1820.0,84698.21,0.00,0.00,0.00,86005.00,84698.21,2
3,JREPM_09162013,2020,OFFICE OF EMERGENCY MANAGEMENT,2013-09-16,BROOKLYN,EMERGENCY PREPAREDNESS MANAGER,ACTIVE,86005.00,PER ANNUM,1820.0,84698.21,0.00,0.00,0.00,86005.00,84698.21,3
4,RWEPM_04302018,2020,OFFICE OF EMERGENCY MANAGEMENT,2018-04-30,BROOKLYN,EMERGENCY PREPAREDNESS MANAGER,ACTIVE,86005.00,PER ANNUM,1820.0,84698.21,0.00,0.00,0.00,86005.00,84698.21,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5662083,JZP_10022017,2023,NYC HOUSING AUTHORITY,2017-10-02,QUEENS,PAINTER,ACTIVE,315.07,PER DAY,1820.0,81918.20,1149.00,77575.47,3752.01,315.07,163245.68,5662083
5662084,LZP_08212017,2023,NYC HOUSING AUTHORITY,2017-08-21,BRONX,PAINTER,ACTIVE,315.07,PER DAY,1820.0,81918.20,1037.75,70063.81,3206.96,315.07,155188.97,5662084
5662085,PZSP_10072019,2023,NYC HOUSING AUTHORITY,2019-10-07,QUEENS,SUPERVISOR PAINTER,ACTIVE,360.08,PER DAY,1820.0,93620.80,908.00,70035.56,617.28,360.08,164273.64,5662085
5662086,HZP_07062022,2023,NYC HOUSING AUTHORITY,2022-07-06,QUEENS,PAINTER,ACTIVE,315.07,PER DAY,1771.0,79082.62,1005.75,67869.89,0.00,315.07,146952.51,5662086
5662087,MZHM_06101985,2023,NYC HOUSING AUTHORITY,1985-06-10,BRONX,HOUSING MANAGER,ACTIVE,95934.00,PER ANNUM,1820.0,95671.16,0.00,0.00,1335.36,95934.00,97006.52,5662087

In [5]:
# Save password object and connect python to MySQL
password = getpass.getpass()
conn = mysql.connector.connect(host='localhost',
                        user='root',
                        passwd=password)

In [6]:
pr = 'payroll'
connection_string = 'mysql+pymysql://root:' + password + '@localhost/'+pr
engine = create_engine(connection_string)     # saves the connection string as object engine

In [7]:
conn = mysql.connector.connect(host='localhost',
                        user='root',
                        passwd=password)

cursor = conn.cursor()

In [16]:
# Function to read last processed index from a file
def read_last_processed_index(filename):
    try:
        with open(filename, 'r') as file:
            last_index = int(file.read().strip())
    except FileNotFoundError:
        last_index = 0
    return last_index

# Function to write last processed index to a file
def write_last_processed_index(filename, index):
    with open(filename, 'w') as file:
        file.write(str(index))

# File to store last processed index
last_processed_file = 'last_processed_index.txt'

# Read last processed index from file
last_processed_index = read_last_processed_index(last_processed_file)

# Read last processed index from file
last_processed_index = read_last_processed_index(last_processed_file)

chunksize = 10000
num_chunks = len(payroll) // chunksize + 1

try:
    # Track start time for total elapsed time
    start_time_total = time.time()

    # Read the CSV file in chunks and process/upload to MySQL
    for i, chunk in enumerate(pd.read_csv('cleaned_payroll.csv', chunksize=chunksize, skiprows=range(0, last_processed_index))):
        start_time_chunk = time.time()  # Start time for current chunk

        with engine.begin() as connection:
            chunk.to_sql(name='payroll', con=connection, if_exists='append', index=False)

        # Calculate elapsed time for current chunk
        elapsed_time_chunk = time.time() - start_time_chunk
        print(f"Chunk {i+1 + last_processed_index}/{num_chunks} uploaded in {elapsed_time_chunk:.2f} seconds.")

        # Update last processed index in file
        write_last_processed_index(last_processed_file, i * chunksize + len(chunk))

except Exception as e:
    print(f"Error: {str(e)}")
    # Handle the error appropriately (retry, log, etc.)

finally:
    # Calculate total elapsed time
    end_time_total = time.time()
    elapsed_time_total = end_time_total - start_time_total
    print(f"Total elapsed time: {elapsed_time_total:.2f} seconds")

    # Close the SQLAlchemy engine
    engine.dispose()

Chunk 1/567 uploaded in 2.35 seconds.
Chunk 2/567 uploaded in 0.78 seconds.
Chunk 3/567 uploaded in 0.65 seconds.
Chunk 4/567 uploaded in 0.59 seconds.
Chunk 5/567 uploaded in 0.61 seconds.
Chunk 6/567 uploaded in 0.57 seconds.
Chunk 7/567 uploaded in 0.60 seconds.
Chunk 8/567 uploaded in 0.81 seconds.
Chunk 9/567 uploaded in 0.55 seconds.
Chunk 10/567 uploaded in 0.60 seconds.
Chunk 11/567 uploaded in 0.58 seconds.
Chunk 12/567 uploaded in 0.55 seconds.
Chunk 13/567 uploaded in 0.56 seconds.
Chunk 14/567 uploaded in 0.53 seconds.
Chunk 15/567 uploaded in 0.53 seconds.
Chunk 16/567 uploaded in 0.55 seconds.
Chunk 17/567 uploaded in 0.54 seconds.
Chunk 18/567 uploaded in 0.57 seconds.
Chunk 19/567 uploaded in 0.54 seconds.
Chunk 20/567 uploaded in 0.55 seconds.
Chunk 21/567 uploaded in 0.55 seconds.
Chunk 22/567 uploaded in 0.53 seconds.
Chunk 23/567 uploaded in 0.57 seconds.
Chunk 24/567 uploaded in 0.62 seconds.
Chunk 25/567 uploaded in 0.55 seconds.
Chunk 26/567 uploaded in 0.52 seconds.
Chunk 27/567 uploaded in 0.51 seconds.
Chunk 28/567 uploaded in 0.53 seconds.
Chunk 29/567 uploaded in 0.55 seconds.
Chunk 30/567 uploaded in 0.64 seconds.
Chunk 31/567 uploaded in 0.54 seconds.
Chunk 32/567 uploaded in 0.55 seconds.
Chunk 33/567 uploaded in 0.55 seconds.
Chunk 34/567 uploaded in 0.54 seconds.
Chunk 35/567 uploaded in 0.53 seconds.
Chunk 36/567 uploaded in 0.55 seconds.
Chunk 37/567 uploaded in 0.53 seconds.
Chunk 38/567 uploaded in 0.53 seconds.
Chunk 39/567 uploaded in 0.60 seconds.
Chunk 40/567 uploaded in 0.52 seconds.
Chunk 41/567 uploaded in 0.52 seconds.
Chunk 42/567 uploaded in 0.58 seconds.
Chunk 43/567 uploaded in 0.57 seconds.
Chunk 44/567 uploaded in 0.55 seconds.
Chunk 45/567 uploaded in 0.51 seconds.
Chunk 46/567 uploaded in 0.66 seconds.
Chunk 47/567 uploaded in 0.53 seconds.
Chunk 48/567 uploaded in 0.57 seconds.
Chunk 49/567 uploaded in 0.53 seconds.
Chunk 50/567 uploaded in 0.53 seconds.
Chunk 51/567 uploaded in 0.55 seconds.
Chunk 52/567 uploaded in 0.54 seconds.
Chunk 53/567 uploaded in 0.55 seconds.
Chunk 54/567 uploaded in 0.55 seconds.
Chunk 55/567 uploaded in 0.54 seconds.
Chunk 56/567 uploaded in 0.56 seconds.
Chunk 57/567 uploaded in 0.55 seconds.
Chunk 58/567 uploaded in 0.55 seconds.
Chunk 59/567 uploaded in 0.55 seconds.
Chunk 60/567 uploaded in 0.52 seconds.
Chunk 61/567 uploaded in 0.53 seconds.
Chunk 62/567 uploaded in 0.56 seconds.
Chunk 63/567 uploaded in 0.55 seconds.
Chunk 64/567 uploaded in 0.56 seconds.
Chunk 65/567 uploaded in 0.60 seconds.
Chunk 66/567 uploaded in 0.58 seconds.
Chunk 67/567 uploaded in 0.62 seconds.
Chunk 68/567 uploaded in 15.72 seconds.
Chunk 69/567 uploaded in 0.56 seconds.
Chunk 70/567 uploaded in 0.56 seconds.
Chunk 71/567 uploaded in 0.54 seconds.
Chunk 72/567 uploaded in 0.62 seconds.
Chunk 73/567 uploaded in 0.55 seconds.
Chunk 74/567 uploaded in 0.57 seconds.
Chunk 75/567 uploaded in 0.55 seconds.
Chunk 76/567 uploaded in 0.54 seconds.
Chunk 77/567 uploaded in 0.63 seconds.
Chunk 78/567 uploaded in 0.60 seconds.
Chunk 79/567 uploaded in 0.57 seconds.
Chunk 80/567 uploaded in 0.56 seconds.
Chunk 81/567 uploaded in 0.62 seconds.
Chunk 82/567 uploaded in 0.55 seconds.
Chunk 83/567 uploaded in 0.58 seconds.
Chunk 84/567 uploaded in 0.55 seconds.
Chunk 85/567 uploaded in 0.64 seconds.
Chunk 86/567 uploaded in 0.54 seconds.
Chunk 87/567 uploaded in 0.56 seconds.
Chunk 88/567 uploaded in 0.60 seconds.
Chunk 89/567 uploaded in 0.54 seconds.
Chunk 90/567 uploaded in 0.62 seconds.
Chunk 91/567 uploaded in 0.55 seconds.
Chunk 92/567 uploaded in 0.55 seconds.
Chunk 93/567 uploaded in 0.58 seconds.
Chunk 94/567 uploaded in 0.55 seconds.
Chunk 95/567 uploaded in 0.80 seconds.
Chunk 96/567 uploaded in 0.58 seconds.
Chunk 97/567 uploaded in 0.55 seconds.
Chunk 98/567 uploaded in 0.55 seconds.
Chunk 99/567 uploaded in 0.60 seconds.
Chunk 100/567 uploaded in 0.53 seconds.
Chunk 101/567 uploaded in 0.62 seconds.
Chunk 102/567 uploaded in 0.54 seconds.
Chunk 103/567 uploaded in 0.60 seconds.
Chunk 104/567 uploaded in 0.56 seconds.
Chunk 105/567 uploaded in 0.57 seconds.
Chunk 106/567 uploaded in 0.60 seconds.
Chunk 107/567 uploaded in 0.53 seconds.
Chunk 108/567 uploaded in 0.68 seconds.
Chunk 109/567 uploaded in 0.57 seconds.
Chunk 110/567 uploaded in 0.53 seconds.
Chunk 111/567 uploaded in 0.55 seconds.
Chunk 112/567 uploaded in 0.55 seconds.
Chunk 113/567 uploaded in 0.64 seconds.
Chunk 114/567 uploaded in 0.54 seconds.
Chunk 115/567 uploaded in 0.53 seconds.
Chunk 116/567 uploaded in 0.50 seconds.
Chunk 117/567 uploaded in 0.58 seconds.
Chunk 118/567 uploaded in 0.57 seconds.
Chunk 119/567 uploaded in 0.55 seconds.
Chunk 120/567 uploaded in 0.55 seconds.
Chunk 121/567 uploaded in 0.57 seconds.
Chunk 122/567 uploaded in 0.63 seconds.
Chunk 123/567 uploaded in 0.56 seconds.
Chunk 124/567 uploaded in 0.56 seconds.
Chunk 125/567 uploaded in 0.55 seconds.
Chunk 126/567 uploaded in 0.49 seconds.
Chunk 127/567 uploaded in 0.58 seconds.
Chunk 128/567 uploaded in 0.52 seconds.
Chunk 129/567 uploaded in 0.54 seconds.
Chunk 130/567 uploaded in 0.54 seconds.
Chunk 131/567 uploaded in 0.62 seconds.
Chunk 132/567 uploaded in 0.55 seconds.
Chunk 133/567 uploaded in 0.55 seconds.
Chunk 134/567 uploaded in 0.58 seconds.
Chunk 135/567 uploaded in 0.63 seconds.
Chunk 136/567 uploaded in 0.55 seconds.
Chunk 137/567 uploaded in 0.55 seconds.
Chunk 138/567 uploaded in 0.54 seconds.
Chunk 139/567 uploaded in 0.58 seconds.
Chunk 140/567 uploaded in 0.61 seconds.
Chunk 141/567 uploaded in 0.52 seconds.
Chunk 142/567 uploaded in 0.54 seconds.
Chunk 143/567 uploaded in 0.52 seconds.
Chunk 144/567 uploaded in 0.57 seconds.
Chunk 145/567 uploaded in 0.67 seconds.
Chunk 146/567 uploaded in 0.52 seconds.
Chunk 147/567 uploaded in 0.53 seconds.
Chunk 148/567 uploaded in 0.51 seconds.
Chunk 149/567 uploaded in 0.52 seconds.
Chunk 150/567 uploaded in 0.63 seconds.
Chunk 151/567 uploaded in 0.53 seconds.
Chunk 152/567 uploaded in 0.53 seconds.
Chunk 153/567 uploaded in 0.53 seconds.
Chunk 154/567 uploaded in 0.61 seconds.
Chunk 155/567 uploaded in 0.54 seconds.
Chunk 156/567 uploaded in 0.53 seconds.
Chunk 157/567 uploaded in 0.58 seconds.
Chunk 158/567 uploaded in 0.55 seconds.
Chunk 159/567 uploaded in 0.67 seconds.
Chunk 160/567 uploaded in 0.57 seconds.
Chunk 161/567 uploaded in 0.53 seconds.
Chunk 162/567 uploaded in 0.55 seconds.
Chunk 163/567 uploaded in 0.57 seconds.
Chunk 164/567 uploaded in 0.65 seconds.
Chunk 165/567 uploaded in 0.55 seconds.
Chunk 166/567 uploaded in 0.56 seconds.
Chunk 167/567 uploaded in 0.57 seconds.
Chunk 168/567 uploaded in 0.57 seconds.
Chunk 169/567 uploaded in 0.62 seconds.
Chunk 170/567 uploaded in 0.58 seconds.
Chunk 171/567 uploaded in 0.55 seconds.
Chunk 172/567 uploaded in 0.58 seconds.
Chunk 173/567 uploaded in 0.55 seconds.
Chunk 174/567 uploaded in 0.56 seconds.
Chunk 175/567 uploaded in 0.63 seconds.
Chunk 176/567 uploaded in 0.58 seconds.
Chunk 177/567 uploaded in 0.56 seconds.
Chunk 178/567 uploaded in 0.56 seconds.
Chunk 179/567 uploaded in 0.64 seconds.
Chunk 180/567 uploaded in 0.50 seconds.
Chunk 181/567 uploaded in 0.54 seconds.
Chunk 182/567 uploaded in 0.51 seconds.
Chunk 183/567 uploaded in 0.57 seconds.
Chunk 184/567 uploaded in 0.64 seconds.
Chunk 185/567 uploaded in 0.55 seconds.
Chunk 186/567 uploaded in 0.59 seconds.
Chunk 187/567 uploaded in 0.56 seconds.
Chunk 188/567 uploaded in 0.54 seconds.
Chunk 189/567 uploaded in 0.66 seconds.
Chunk 190/567 uploaded in 0.55 seconds.
Chunk 191/567 uploaded in 0.55 seconds.
Chunk 192/567 uploaded in 0.55 seconds.
Chunk 193/567 uploaded in 0.54 seconds.
Chunk 194/567 uploaded in 0.62 seconds.
Chunk 195/567 uploaded in 0.53 seconds.
Chunk 196/567 uploaded in 0.55 seconds.
Chunk 197/567 uploaded in 0.53 seconds.
Chunk 198/567 uploaded in 0.52 seconds.
Chunk 199/567 uploaded in 0.63 seconds.
Chunk 200/567 uploaded in 0.53 seconds.
Chunk 201/567 uploaded in 0.53 seconds.
Chunk 202/567 uploaded in 0.53 seconds.
Chunk 203/567 uploaded in 0.55 seconds.
Chunk 204/567 uploaded in 0.55 seconds.
Chunk 205/567 uploaded in 0.60 seconds.
Chunk 206/567 uploaded in 0.53 seconds.
Chunk 207/567 uploaded in 0.52 seconds.
Chunk 208/567 uploaded in 0.52 seconds.
Chunk 209/567 uploaded in 0.66 seconds.
Chunk 210/567 uploaded in 0.52 seconds.
Chunk 211/567 uploaded in 0.53 seconds.
Chunk 212/567 uploaded in 0.54 seconds.
Chunk 213/567 uploaded in 0.54 seconds.
Chunk 214/567 uploaded in 0.62 seconds.
Chunk 215/567 uploaded in 0.53 seconds.
Chunk 216/567 uploaded in 0.54 seconds.
Chunk 217/567 uploaded in 0.61 seconds.
Chunk 218/567 uploaded in 0.54 seconds.
Chunk 219/567 uploaded in 0.55 seconds.
Chunk 220/567 uploaded in 0.64 seconds.
Chunk 221/567 uploaded in 0.54 seconds.
Chunk 222/567 uploaded in 0.55 seconds.
Chunk 223/567 uploaded in 0.55 seconds.
Chunk 224/567 uploaded in 0.64 seconds.
Chunk 225/567 uploaded in 0.55 seconds.
Chunk 226/567 uploaded in 0.56 seconds.
Chunk 227/567 uploaded in 0.55 seconds.
Chunk 228/567 uploaded in 0.55 seconds.
Chunk 229/567 uploaded in 0.54 seconds.
Chunk 230/567 uploaded in 0.64 seconds.
Chunk 231/567 uploaded in 0.55 seconds.
Chunk 232/567 uploaded in 0.56 seconds.
Chunk 233/567 uploaded in 0.57 seconds.
Chunk 234/567 uploaded in 0.53 seconds.
Chunk 235/567 uploaded in 0.67 seconds.
Chunk 236/567 uploaded in 0.52 seconds.
Chunk 237/567 uploaded in 0.47 seconds.
Chunk 238/567 uploaded in 0.51 seconds.
Chunk 239/567 uploaded in 0.51 seconds.
Chunk 240/567 uploaded in 0.72 seconds.
Chunk 241/567 uploaded in 0.53 seconds.
Chunk 242/567 uploaded in 0.57 seconds.
Chunk 243/567 uploaded in 0.57 seconds.
Chunk 244/567 uploaded in 0.51 seconds.
Chunk 245/567 uploaded in 0.52 seconds.
Chunk 246/567 uploaded in 0.62 seconds.
Chunk 247/567 uploaded in 0.54 seconds.
Chunk 248/567 uploaded in 0.54 seconds.
Chunk 249/567 uploaded in 0.56 seconds.
Chunk 250/567 uploaded in 0.55 seconds.
Chunk 251/567 uploaded in 0.68 seconds.
Chunk 252/567 uploaded in 0.54 seconds.
Chunk 253/567 uploaded in 0.55 seconds.
Chunk 254/567 uploaded in 0.57 seconds.
Chunk 255/567 uploaded in 0.56 seconds.
Chunk 256/567 uploaded in 0.56 seconds.
Chunk 257/567 uploaded in 0.63 seconds.
Chunk 258/567 uploaded in 0.53 seconds.
Chunk 259/567 uploaded in 0.54 seconds.
Chunk 260/567 uploaded in 0.54 seconds.
Chunk 261/567 uploaded in 0.55 seconds.
Chunk 262/567 uploaded in 0.62 seconds.
Chunk 263/567 uploaded in 0.55 seconds.
Chunk 264/567 uploaded in 0.52 seconds.
Chunk 265/567 uploaded in 0.53 seconds.
Chunk 266/567 uploaded in 0.55 seconds.
Chunk 267/567 uploaded in 0.64 seconds.
Chunk 268/567 uploaded in 0.55 seconds.
Chunk 269/567 uploaded in 0.54 seconds.
Chunk 270/567 uploaded in 0.53 seconds.
Chunk 271/567 uploaded in 0.55 seconds.
Chunk 272/567 uploaded in 0.55 seconds.
Chunk 273/567 uploaded in 0.65 seconds.
Chunk 274/567 uploaded in 0.58 seconds.
Chunk 275/567 uploaded in 0.62 seconds.
Chunk 276/567 uploaded in 0.64 seconds.
Chunk 277/567 uploaded in 0.57 seconds.
Chunk 278/567 uploaded in 0.64 seconds.
Chunk 279/567 uploaded in 0.58 seconds.
Chunk 280/567 uploaded in 0.56 seconds.
Chunk 281/567 uploaded in 0.55 seconds.
Chunk 282/567 uploaded in 0.53 seconds.
Chunk 283/567 uploaded in 0.50 seconds.
Chunk 284/567 uploaded in 0.64 seconds.
Chunk 285/567 uploaded in 0.57 seconds.
Chunk 286/567 uploaded in 0.55 seconds.
Chunk 287/567 uploaded in 0.57 seconds.
Chunk 288/567 uploaded in 0.54 seconds.
Chunk 289/567 uploaded in 0.65 seconds.
Chunk 290/567 uploaded in 0.57 seconds.
Chunk 291/567 uploaded in 0.56 seconds.
Chunk 292/567 uploaded in 0.60 seconds.
Chunk 293/567 uploaded in 0.64 seconds.
Chunk 294/567 uploaded in 0.55 seconds.
Chunk 295/567 uploaded in 0.72 seconds.
Chunk 296/567 uploaded in 0.59 seconds.
Chunk 297/567 uploaded in 0.56 seconds.
Chunk 298/567 uploaded in 0.55 seconds.
Chunk 299/567 uploaded in 0.54 seconds.
Chunk 300/567 uploaded in 0.68 seconds.
Chunk 301/567 uploaded in 0.53 seconds.
Chunk 302/567 uploaded in 0.53 seconds.
Chunk 303/567 uploaded in 0.52 seconds.
Chunk 304/567 uploaded in 0.53 seconds.
Chunk 305/567 uploaded in 0.56 seconds.
Chunk 306/567 uploaded in 0.64 seconds.
Chunk 307/567 uploaded in 0.55 seconds.
Chunk 308/567 uploaded in 0.55 seconds.
Chunk 309/567 uploaded in 0.54 seconds.
Chunk 310/567 uploaded in 0.53 seconds.
Chunk 311/567 uploaded in 0.53 seconds.
Chunk 312/567 uploaded in 0.65 seconds.
Chunk 313/567 uploaded in 0.57 seconds.
Chunk 314/567 uploaded in 0.53 seconds.
Chunk 315/567 uploaded in 0.56 seconds.
Chunk 316/567 uploaded in 0.52 seconds.
Chunk 317/567 uploaded in 0.55 seconds.
Chunk 318/567 uploaded in 0.64 seconds.
Chunk 319/567 uploaded in 0.55 seconds.
Chunk 320/567 uploaded in 0.57 seconds.
Chunk 321/567 uploaded in 0.55 seconds.
Chunk 322/567 uploaded in 0.60 seconds.
Chunk 323/567 uploaded in 0.55 seconds.
Chunk 324/567 uploaded in 0.65 seconds.
Chunk 325/567 uploaded in 0.57 seconds.
Chunk 326/567 uploaded in 0.54 seconds.
Chunk 327/567 uploaded in 0.56 seconds.
Chunk 328/567 uploaded in 0.58 seconds.
Chunk 329/567 uploaded in 0.54 seconds.
Chunk 330/567 uploaded in 0.64 seconds.
Chunk 331/567 uploaded in 0.55 seconds.
Chunk 332/567 uploaded in 0.56 seconds.
Chunk 333/567 uploaded in 0.57 seconds.
Chunk 334/567 uploaded in 0.55 seconds.
Chunk 335/567 uploaded in 0.57 seconds.
Chunk 336/567 uploaded in 0.66 seconds.
Chunk 337/567 uploaded in 0.55 seconds.
Chunk 338/567 uploaded in 0.58 seconds.
Chunk 339/567 uploaded in 0.55 seconds.
Chunk 340/567 uploaded in 0.54 seconds.
Chunk 341/567 uploaded in 0.58 seconds.
Chunk 342/567 uploaded in 0.66 seconds.
Chunk 343/567 uploaded in 0.57 seconds.
Chunk 344/567 uploaded in 0.52 seconds.
Chunk 345/567 uploaded in 0.50 seconds.
Chunk 346/567 uploaded in 0.52 seconds.
Chunk 347/567 uploaded in 0.56 seconds.
Chunk 348/567 uploaded in 0.66 seconds.
Chunk 349/567 uploaded in 0.53 seconds.
Chunk 350/567 uploaded in 0.56 seconds.
Chunk 351/567 uploaded in 0.56 seconds.
Chunk 352/567 uploaded in 0.56 seconds.
Chunk 353/567 uploaded in 0.52 seconds.
Chunk 354/567 uploaded in 0.63 seconds.
Chunk 355/567 uploaded in 0.52 seconds.
Chunk 356/567 uploaded in 0.57 seconds.
Chunk 357/567 uploaded in 0.52 seconds.
Chunk 358/567 uploaded in 0.52 seconds.
Chunk 359/567 uploaded in 0.54 seconds.
Chunk 360/567 uploaded in 0.66 seconds.
Chunk 361/567 uploaded in 0.52 seconds.
Chunk 362/567 uploaded in 0.54 seconds.
Chunk 363/567 uploaded in 0.53 seconds.
Chunk 364/567 uploaded in 0.51 seconds.
Chunk 365/567 uploaded in 0.54 seconds.
Chunk 366/567 uploaded in 0.55 seconds.
Chunk 367/567 uploaded in 0.64 seconds.
Chunk 368/567 uploaded in 0.52 seconds.
Chunk 369/567 uploaded in 0.55 seconds.
Chunk 370/567 uploaded in 0.55 seconds.
Chunk 371/567 uploaded in 0.55 seconds.
Chunk 372/567 uploaded in 0.63 seconds.
Chunk 373/567 uploaded in 0.54 seconds.
Chunk 374/567 uploaded in 0.55 seconds.
Chunk 375/567 uploaded in 0.52 seconds.
Chunk 376/567 uploaded in 0.57 seconds.
Chunk 377/567 uploaded in 0.56 seconds.
Chunk 378/567 uploaded in 0.55 seconds.
Chunk 379/567 uploaded in 0.70 seconds.
Chunk 380/567 uploaded in 0.55 seconds.
Chunk 381/567 uploaded in 0.55 seconds.
Chunk 382/567 uploaded in 0.60 seconds.
Chunk 383/567 uploaded in 0.55 seconds.
Chunk 384/567 uploaded in 0.67 seconds.
Chunk 385/567 uploaded in 0.53 seconds.
Chunk 386/567 uploaded in 0.55 seconds.
Chunk 387/567 uploaded in 0.57 seconds.
Chunk 388/567 uploaded in 0.53 seconds.
Chunk 389/567 uploaded in 0.57 seconds.
Chunk 390/567 uploaded in 0.55 seconds.
Chunk 391/567 uploaded in 0.65 seconds.
Chunk 392/567 uploaded in 0.59 seconds.
Chunk 393/567 uploaded in 0.55 seconds.
Chunk 394/567 uploaded in 0.56 seconds.
Chunk 395/567 uploaded in 0.57 seconds.
Chunk 396/567 uploaded in 0.55 seconds.
Chunk 397/567 uploaded in 0.78 seconds.
Chunk 398/567 uploaded in 0.57 seconds.
Chunk 399/567 uploaded in 0.55 seconds.
Chunk 400/567 uploaded in 0.52 seconds.
Chunk 401/567 uploaded in 0.54 seconds.
Chunk 402/567 uploaded in 0.68 seconds.
Chunk 403/567 uploaded in 0.77 seconds.
Chunk 404/567 uploaded in 0.56 seconds.
Chunk 405/567 uploaded in 0.57 seconds.
Chunk 406/567 uploaded in 0.56 seconds.
Chunk 407/567 uploaded in 0.57 seconds.
Chunk 408/567 uploaded in 0.54 seconds.
Chunk 409/567 uploaded in 0.63 seconds.
Chunk 410/567 uploaded in 0.55 seconds.
Chunk 411/567 uploaded in 0.52 seconds.
Chunk 412/567 uploaded in 0.53 seconds.
Chunk 413/567 uploaded in 0.54 seconds.
Chunk 414/567 uploaded in 0.51 seconds.
Chunk 415/567 uploaded in 0.65 seconds.
Chunk 416/567 uploaded in 0.54 seconds.
Chunk 417/567 uploaded in 0.53 seconds.
Chunk 418/567 uploaded in 0.57 seconds.
Chunk 419/567 uploaded in 0.53 seconds.
Chunk 420/567 uploaded in 0.51 seconds.
Chunk 421/567 uploaded in 0.64 seconds.
Chunk 422/567 uploaded in 0.55 seconds.
Chunk 423/567 uploaded in 0.55 seconds.
Chunk 424/567 uploaded in 0.55 seconds.
Chunk 425/567 uploaded in 0.52 seconds.
Chunk 426/567 uploaded in 0.60 seconds.
Chunk 427/567 uploaded in 0.65 seconds.
Chunk 428/567 uploaded in 0.54 seconds.
Chunk 429/567 uploaded in 0.58 seconds.
Chunk 430/567 uploaded in 0.51 seconds.
Chunk 431/567 uploaded in 0.54 seconds.
Chunk 432/567 uploaded in 0.54 seconds.
Chunk 433/567 uploaded in 0.55 seconds.
Chunk 434/567 uploaded in 0.65 seconds.
Chunk 435/567 uploaded in 0.53 seconds.
Chunk 436/567 uploaded in 0.63 seconds.
Chunk 437/567 uploaded in 0.57 seconds.
Chunk 438/567 uploaded in 0.57 seconds.
Chunk 439/567 uploaded in 0.55 seconds.
Chunk 440/567 uploaded in 0.68 seconds.
Chunk 441/567 uploaded in 0.56 seconds.
Chunk 442/567 uploaded in 0.57 seconds.
Chunk 443/567 uploaded in 0.55 seconds.
Chunk 444/567 uploaded in 0.57 seconds.
Chunk 445/567 uploaded in 0.56 seconds.
Chunk 446/567 uploaded in 0.68 seconds.
Chunk 447/567 uploaded in 0.55 seconds.
Chunk 448/567 uploaded in 0.54 seconds.
Chunk 449/567 uploaded in 0.59 seconds.
Chunk 450/567 uploaded in 0.57 seconds.
Chunk 451/567 uploaded in 0.65 seconds.
Chunk 452/567 uploaded in 0.66 seconds.
Chunk 453/567 uploaded in 0.68 seconds.
Chunk 454/567 uploaded in 0.60 seconds.
Chunk 455/567 uploaded in 0.58 seconds.
Chunk 456/567 uploaded in 0.55 seconds.
Chunk 457/567 uploaded in 0.58 seconds.
Chunk 458/567 uploaded in 0.55 seconds.
Chunk 459/567 uploaded in 0.67 seconds.
Chunk 460/567 uploaded in 0.56 seconds.
Chunk 461/567 uploaded in 0.53 seconds.
Chunk 462/567 uploaded in 0.54 seconds.
Chunk 463/567 uploaded in 0.53 seconds.
Chunk 464/567 uploaded in 0.53 seconds.
Chunk 465/567 uploaded in 0.67 seconds.
Chunk 466/567 uploaded in 0.53 seconds.
Chunk 467/567 uploaded in 0.54 seconds.
Chunk 468/567 uploaded in 0.52 seconds.
Chunk 469/567 uploaded in 0.55 seconds.
Chunk 470/567 uploaded in 0.55 seconds.
Chunk 471/567 uploaded in 0.61 seconds.
Chunk 472/567 uploaded in 0.72 seconds.
Chunk 473/567 uploaded in 0.55 seconds.
Chunk 474/567 uploaded in 0.55 seconds.
Chunk 475/567 uploaded in 0.54 seconds.
Chunk 476/567 uploaded in 0.53 seconds.
Chunk 477/567 uploaded in 0.56 seconds.
Chunk 478/567 uploaded in 0.54 seconds.
Chunk 479/567 uploaded in 0.65 seconds.
Chunk 480/567 uploaded in 0.58 seconds.
Chunk 481/567 uploaded in 0.52 seconds.
Chunk 482/567 uploaded in 0.55 seconds.
Chunk 483/567 uploaded in 0.54 seconds.
Chunk 484/567 uploaded in 0.55 seconds.
Chunk 485/567 uploaded in 0.65 seconds.
Chunk 486/567 uploaded in 0.53 seconds.
Chunk 487/567 uploaded in 0.54 seconds.
Chunk 488/567 uploaded in 0.55 seconds.
Chunk 489/567 uploaded in 0.56 seconds.
Chunk 490/567 uploaded in 0.54 seconds.
Chunk 491/567 uploaded in 0.56 seconds.
Chunk 492/567 uploaded in 0.68 seconds.
Chunk 493/567 uploaded in 0.62 seconds.
Chunk 494/567 uploaded in 0.53 seconds.
Chunk 495/567 uploaded in 0.50 seconds.
Chunk 496/567 uploaded in 0.52 seconds.
Chunk 497/567 uploaded in 0.52 seconds.
Chunk 498/567 uploaded in 0.55 seconds.
Chunk 499/567 uploaded in 0.70 seconds.
Chunk 500/567 uploaded in 0.58 seconds.
Chunk 501/567 uploaded in 0.57 seconds.
Chunk 502/567 uploaded in 0.59 seconds.

In [91]:
with engine.connect() as connection:
    # Getting how many loans were granted every year, and the month of each duration.
    txt = '''SELECT ot.agency_name, 
	                ot.fiscal_year, 
                    ac.agency_count, 
                    ot.agency_ot/1920 as staff_needed,
                    LEAD(ac.agency_count, 1) OVER (PARTITION BY ac.agency_name ORDER BY ac.fiscal_year) - ac.agency_count AS staff_hired,
                    (LEAD(ac.agency_count, 1) OVER (PARTITION BY ac.agency_name ORDER BY ac.fiscal_year) - ac.agency_count) - (ot.agency_ot/1920) as difference
            FROM ot_hours as ot
            JOIN agency_changes as ac
            ON ot.agency_name = ac.agency_name AND ot.fiscal_year = ac.fiscal_year
            WHERE ot.agency_ot/1920 > 1 
            ORDER BY ABS(difference) DESC;'''
    query = text(txt)
    result = connection.execute(query)
    needvgot = pd.DataFrame(result.all())

In [76]:
needvgot

,agency_name,fiscal_year,agency_count,staff_needed,staff_hired,difference
0,POLICE DEPARTMENT,2022,60804,8634.736052,-2187.0,-10821.736052
1,POLICE DEPARTMENT,2020,60316,9257.166073,-1307.0,-10564.166073
2,POLICE DEPARTMENT,2016,65868,6442.557953,-3352.0,-9794.557953
3,DEPT OF PARKS & RECREATION,2015,24535,234.327990,-9249.0,-9483.327990
4,DEPT OF PARKS & RECREATION,2014,15120,222.348417,9415.0,9192.651583
...,...,...,...,...,...,...
489,RICHMOND DA,2014,112,1.416536,NaN,None
490,TAX COMMISSION,2022,70,1.420703,NaN,None
491,TAXI & LIMOUSINE COMMISSION,2023,672,10.175391,NaN,None
492,TEACHERS RETIREMENT SYSTEM,2022,439,1.856318,NaN,None
493,TECHNOLOGY & INNOVATION,2023,2183,9.616885,NaN,None

In [92]:
# clean up a bit
def replace_none(dif, fy):
    if dif == None and fy == 2023:
        return 'Not Reported'
    elif dif == None and fy != 2023:
        return 0
    else:
        return dif  # Return the original value if no replacement is needed

# Apply the function using apply method
needvgot['difference'] = needvgot.apply(lambda row: replace_none(row['difference'], row['fiscal_year']), axis=1)

columns = ['staff_needed','staff_hired']
needvgot[columns].fillna(0, inplace=True)
needvgot[columns].replace('None',0,inplace=True)
# Ensure all values are numeric by converting the entire column to float before rounding and casting
for column in columns:
    needvgot[column] = pd.to_numeric(needvgot[column], errors='coerce').fillna(0)
needvgot[columns] = needvgot[columns].round().astype(int)
needvgot

C:\Users\bfran\AppData\Local\Temp\ipykernel_13420\523722020.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  needvgot[columns].fillna(0, inplace=True)
C:\Users\bfran\AppData\Local\Temp\ipykernel_13420\523722020.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  needvgot[columns].replace('None',0,inplace=True)

,agency_name,fiscal_year,agency_count,staff_needed,staff_hired,difference
0,POLICE DEPARTMENT,2022,60804,8635,-2187,-10821.736052
1,POLICE DEPARTMENT,2020,60316,9257,-1307,-10564.166073
2,POLICE DEPARTMENT,2016,65868,6443,-3352,-9794.557953
3,DEPT OF PARKS & RECREATION,2015,24535,234,-9249,-9483.327990
4,DEPT OF PARKS & RECREATION,2014,15120,222,9415,9192.651583
...,...,...,...,...,...,...
489,RICHMOND DA,2014,112,1,0,0
490,TAX COMMISSION,2022,70,1,0,0
491,TAXI & LIMOUSINE COMMISSION,2023,672,10,0,Not Reported
492,TEACHERS RETIREMENT SYSTEM,2022,439,2,0,0
493,TECHNOLOGY & INNOVATION,2023,2183,10,0,Not Reported

In [100]:
# Remove Not Reporteds
needvgot = needvgot[~(needvgot['difference']=='Not Reported')]

# Subset data
needvgot_pos = needvgot[needvgot['difference'] > 0]
needvgot_neg = needvgot[(needvgot['difference'] <= 0) & (needvgot['staff_needed'] > needvgot['agency_count'] / 10)]

In [103]:
# Display df where the agency with the greatest negative difference between staff needed and hired is listed first, w/ each year's rows being ordered chronologically.
# Step 1: Calculate the absolute maximum difference per agency
max_abs_diff_per_agency = needvgot_neg.groupby('agency_name')['difference'].apply(lambda x: np.abs(x).max())
needvgot_neg['max_abs_difference'] = needvgot_neg['agency_name'].map(max_abs_diff_per_agency)

# Step 2: Sort the DataFrame
needvgot_neg= needvgot_neg.sort_values(by=['max_abs_difference', 'agency_name', 'fiscal_year'],
                                       ascending=[False, True, True])

# Step 3: Drop the temporary column if needed
needvgot_neg.drop('max_abs_difference', axis=1, inplace=True)

needvgot_neg

C:\Users\bfran\AppData\Local\Temp\ipykernel_13420\4023994085.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  needvgot_neg['max_abs_difference'] = needvgot_neg['agency_name'].map(max_abs_diff_per_agency)

,agency_name,fiscal_year,agency_count,staff_needed,staff_hired,difference
42,POLICE DEPARTMENT,2014,55619,5586,3645,-1940.644307
190,POLICE DEPARTMENT,2015,59264,6746,6604,-141.548948
7,POLICE DEPARTMENT,2018,59811,6076,159,-5917.416380
8,POLICE DEPARTMENT,2019,59970,6040,346,-5694.353193
1,POLICE DEPARTMENT,2020,60316,9257,-1307,-10564.166073
0,POLICE DEPARTMENT,2022,60804,8635,-2187,-10821.736052
37,FIRE DEPARTMENT,2014,16555,2995,825,-2170.300839
97,FIRE DEPARTMENT,2015,17380,3040,2554,-485.972932
11,FIRE DEPARTMENT,2016,19934,2960,-1247,-4207.492755
21,FIRE DEPARTMENT,2017,18687,2879,-296,-3174.814057
28,FIRE DEPARTMENT,2018,18391,2749,288,-2460.512208
29,FIRE DEPARTMENT,2019,18679,2927,514,-2413.239578
12,FIRE DEPARTMENT,2020,19193,3957,-144,-4101.279911
30,FIRE DEPARTMENT,2021,19049,4282,1871,-2410.621141
6,FIRE DEPARTMENT,2022,20920,5188,-1848,-7036.207620
76,DEPARTMENT OF CORRECTION,2014,11135,1258,388,-870.141458
34,DEPARTMENT OF CORRECTION,2016,13968,2559,324,-2235.479328
27,DEPARTMENT OF CORRECTION,2017,14292,2497,-107,-2603.982203
36,DEPARTMENT OF CORRECTION,2018,14185,2008,-168,-2175.586615
25,DEPARTMENT OF CORRECTION,2019,14017,1642,-1294,-2936.486385
39,DEPARTMENT OF CORRECTION,2020,12723,1875,-191,-2066.217979
41,DEPARTMENT OF CORRECTION,2021,12532,1731,-253,-1983.882318
10,DEPARTMENT OF CORRECTION,2022,12279,2796,-1920,-4716.392870
56,DEPARTMENT OF SANITATION,2017,12599,1294,-15,-1309.250260
45,DEPARTMENT OF SANITATION,2018,12584,1495,-399,-1894.080151
50,DEPARTMENT OF SANITATION,2019,12185,1249,-398,-1647.166396
66,DEPARTMENT OF SANITATION,2020,11787,1336,316,-1019.527380
49,DEPARTMENT OF SANITATION,2021,12103,2191,464,-1726.872167
17,DEPARTMENT OF SANITATION,2022,12567,2252,-1138,-3390.196484
160,DEPARTMENT OF TRANSPORTATION,2014,5213,648,455,-192.761182
124,DEPARTMENT OF TRANSPORTATION,2015,5668,698,367,-331.044927
113,DEPARTMENT OF TRANSPORTATION,2016,6035,610,236,-374.017297
155,BOARD OF ELECTION,2016,1002,130,-71,-201.357115
162,BOARD OF ELECTION,2017,931,149,-35,-183.942667
138,BOARD OF ELECTION,2019,1071,178,-85,-262.653589
236,BOARD OF ELECTION,2020,986,134,52,-81.679026
143,BOARD OF ELECTION,2021,1038,246,-13,-258.763594
181,BOARD OF ELECTION,2022,1025,162,14,-147.746771
393,DEPT OF CITYWIDE ADMIN SVCS,2014,2274,229,223,-5.816938
175,DEPT OF CITYWIDE ADMIN SVCS,2017,2702,287,130,-157.253271
158,DEPT OF CITYWIDE ADMIN SVCS,2022,2631,274,77,-196.830411
170,DEPT. OF HOMELESS SERVICES,2021,2527,257,89,-168.278281

In [104]:
# Display df where the agency with the greatest positive difference between staff needed and hired is listed first, w/ each year's rows being ordered chronologically.
# Step 1: Calculate the absolute maximum difference per agency
max_abs_diff_per_agency = needvgot_pos.groupby('agency_name')['difference'].apply(lambda x: np.abs(x).max())
needvgot_pos['max_abs_difference'] = needvgot_pos['agency_name'].map(max_abs_diff_per_agency)

# Step 2: Sort the DataFrame
needvgot_pos = needvgot_pos.sort_values(by=['max_abs_difference', 'agency_name', 'fiscal_year'],
                                       ascending=[False, True, True])

# Step 3: Drop the temporary column if needed
needvgot_pos.drop('max_abs_difference', axis=1, inplace=True)

needvgot_pos

C:\Users\bfran\AppData\Local\Temp\ipykernel_13420\3225939547.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  needvgot_pos['max_abs_difference'] = needvgot_pos['agency_name'].map(max_abs_diff_per_agency)

,agency_name,fiscal_year,agency_count,staff_needed,staff_hired,difference
4,DEPT OF PARKS & RECREATION,2014,15120,222,9415,9192.651583
185,DEPT OF PARKS & RECREATION,2016,15286,270,416,146.274052
61,DEPT OF PARKS & RECREATION,2018,15574,300,1413,1113.285667
43,DEPT OF PARKS & RECREATION,2021,10414,274,2190,1915.689297
15,DEPT OF PARKS & RECREATION,2022,12604,341,4128,3787.116125
...,...,...,...,...,...,...
396,BUSINESS INTEGRITY COMMISSION,2021,91,2,7,5.227474
379,BUSINESS INTEGRITY COMMISSION,2022,98,1,10,8.626172
381,DEPARTMENT OF BUSINESS SERV.,2017,389,1,9,7.944271
402,OFFICE OF THE ACTUARY,2014,36,1,5,3.816797
429,OFFICE OF THE ACTUARY,2016,40,2,2,0.143880

In [124]:
# Get agency names into a list
neg_deps = needvgot_neg['agency_name'].drop_duplicates()

# Iteration loop that gets and prints summary statistics for each agency
for i in neg_deps:
    agency_data = needvgot_neg[needvgot_neg['agency_name'] == i]
    agency_data.drop(columns='fiscal_year',inplace=True)
    summary_stats = agency_data.describe().loc[['count', 'min', 'mean', '50%', 'max']].T
    
    print(f"Summary statistics for {i}:")
    print(summary_stats)
    print("\n")

Summary statistics for POLICE DEPARTMENT:
              count      min          mean      50%      max
agency_count    6.0  55619.0  59297.333333  59890.5  60804.0
staff_needed    6.0   5586.0   7056.666667   6411.0   9257.0
staff_hired     6.0  -2187.0   1210.000000    252.5   6604.0


Summary statistics for FIRE DEPARTMENT:
              count      min          mean      50%      max
agency_count    9.0  16555.0  18754.222222  18687.0  20920.0
staff_needed    9.0   2749.0   3441.888889   2995.0   5188.0
staff_hired     9.0  -1848.0    279.666667    288.0   2554.0


Summary statistics for DEPARTMENT OF CORRECTION:
              count      min       mean      50%      max
agency_count    8.0  11135.0  13141.375  13345.5  14292.0
staff_needed    8.0   1258.0   2045.750   1941.5   2796.0
staff_hired     8.0  -1920.0   -402.625   -179.5    388.0


Summary statistics for DEPARTMENT OF SANITATION:
              count      min          mean      50%      max
agency_count    6.0  11787.0  12304.166667  12376.0  12599.0
staff_needed    6.0   1249.0   1636.166667   1415.5   2252.0
staff_hired     6.0  -1138.0   -195.000000   -206.5    464.0


Summary statistics for DEPARTMENT OF TRANSPORTATION:
              count     min         mean     50%     max
agency_count    3.0  5213.0  5638.666667  5668.0  6035.0
staff_needed    3.0   610.0   652.000000   648.0   698.0
staff_hired     3.0   236.0   352.666667   367.0   455.0


Summary statistics for BOARD OF ELECTION:
              count    min         mean     50%     max
agency_count    6.0  931.0  1008.833333  1013.5  1071.0
staff_needed    6.0  130.0   166.500000   155.5   246.0
staff_hired     6.0  -85.0   -23.000000   -24.0    52.0


Summary statistics for DEPT OF CITYWIDE ADMIN SVCS:
              count     min         mean     50%     max
agency_count    3.0  2274.0  2535.666667  2631.0  2702.0
staff_needed    3.0   229.0   263.333333   274.0   287.0
staff_hired     3.0    77.0   143.333333   130.0   223.0


Summary statistics for DEPT. OF HOMELESS SERVICES:
              count     min    mean     50%     max
agency_count    1.0  2527.0  2527.0  2527.0  2527.0
staff_needed    1.0   257.0   257.0   257.0   257.0
staff_hired     1.0    89.0    89.0    89.0    89.0

C:\Users\bfran\AppData\Local\Temp\ipykernel_13420\2503730477.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agency_data.drop(columns='fiscal_year',inplace=True)
C:\Users\bfran\AppData\Local\Temp\ipykernel_13420\2503730477.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agency_data.drop(columns='fiscal_year',inplace=True)
C:\Users\bfran\AppData\Local\Temp\ipykernel_13420\2503730477.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agency_data.drop(columns='fiscal_year',inplace=True)
C:\Users\bfran\AppData\Local\Temp\ipykernel_13420\2503730477.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agency_data.drop(columns='fiscal_year',inplace=True)
C:\Users\bfran\AppData\Local\Temp\ipykernel_13420\2503730477.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agency_data.drop(columns='fiscal_year',inplace=True)
C:\Users\bfran\AppData\Local\Temp\ipykernel_13420\2503730477.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agency_data.drop(columns='fiscal_year',inplace=True)
C:\Users\bfran\AppData\Local\Temp\ipykernel_13420\2503730477.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agency_data.drop(columns='fiscal_year',inplace=True)
C:\Users\bfran\AppData\Local\Temp\ipykernel_13420\2503730477.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agency_data.drop(columns='fiscal_year',inplace=True)

In [126]:
# Get agency names into a list
pos_deps = needvgot_pos['agency_name'].drop_duplicates()

# Iteration loop that gets and prints summary statistics for each agency
for i in pos_deps:
    agency_data = needvgot_pos[needvgot_pos['agency_name'] == i]
    agency_data.drop(columns='fiscal_year',inplace=True)
    summary_stats = agency_data.describe().loc[['count', 'min', 'mean', '50%', 'max']].T
    
    print(f"Summary statistics for {i}:")
    print(summary_stats)
    print("\n")

C:\Users\bfran\AppData\Local\Temp\ipykernel_13420\715936937.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agency_data.drop(columns='fiscal_year',inplace=True)
C:\Users\bfran\AppData\Local\Temp\ipykernel_13420\715936937.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agency_data.drop(columns='fiscal_year',inplace=True)
C:\Users\bfran\AppData\Local\Temp\ipykernel_13420\715936937.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agency_data.drop(columns='fiscal_year',inplace=True)
C:\Users\bfran\AppData\Local\Temp\ipykernel_13420\715936937.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agency_data.drop(columns='fiscal_year',inplace=True)
C:\Users\bfran\AppData\Local\Temp\ipykernel_13420\715936937.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agency_data.drop(columns='fiscal_year',inplace=True)
C:\Users\bfran\AppData\Local\Temp\ipykernel_13420\715936937.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agency_data.drop(columns='fiscal_year',inplace=True)
C:\Users\bfran\AppData\Local\Temp\ipykernel_13420\715936937.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agency_data.drop(columns='fiscal_year',inplace=True)
C:\Users\bfran\AppData\Local\Temp\ipykernel_13420\715936937.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agency_data.drop(columns='fiscal_year',inplace=True)
C:\Users\bfran\AppData\Local\Temp\ipykernel_13420\715936937.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agency_data.drop(columns='fiscal_year',inplace=True)
C:\Users\bfran\AppData\Local\Temp\ipykernel_13420\715936937.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agency_data.drop(columns='fiscal_year',inplace=True)
C:\Users\bfran\AppData\Local\Temp\ipykernel_13420\715936937.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agency_data.drop(columns='fiscal_year',inplace=True)
C:\Users\bfran\AppData\Local\Temp\ipykernel_13420\715936937.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agency_data.drop(columns='fiscal_year',inplace=True)
C:\Users\bfran\AppData\Local\Temp\ipykernel_13420\715936937.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agency_data.drop(columns='fiscal_year',inplace=True)
C:\Users\bfran\AppData\Local\Temp\ipykernel_13420\715936937.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agency_data.drop(columns='fiscal_year',inplace=True)
C:\Users\bfran\AppData\Local\Temp\ipykernel_13420\715936937.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agency_data.drop(columns='fiscal_year',inplace=True)
C:\Users\bfran\AppData\Local\Temp\ipykernel_13420\715936937.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agency_data.drop(columns='fiscal_year',inplace=True)
C:\Users\bfran\AppData\Local\Temp\ipykernel_13420\715936937.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agency_data.drop(columns='fiscal_year',inplace=True)
C:\Users\bfran\AppData\Local\Temp\ipykernel_13420\715936937.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agency_data.drop(columns='fiscal_year',inplace=True)
C:\Users\bfran\AppData\Local\Temp\ipykernel_13420\715936937.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agency_data.drop(columns='fiscal_year',inplace=True)
C:\Users\bfran\AppData\Local\Temp\ipykernel_13420\715936937.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agency_data.drop(columns='fiscal_year',inplace=True)
C:\Users\bfran\AppData\Local\Temp\ipykernel_13420\715936937.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agency_data.drop(columns='fiscal_year',inplace=True)
C:\Users\bfran\AppData\Local\Temp\ipykernel_13420\715936937.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agency_data.drop(columns='fiscal_year',inplace=True)
C:\Users\bfran\AppData\Local\Temp\ipykernel_13420\715936937.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agency_data.drop(columns='fiscal_year',inplace=True)
C:\Users\bfran\AppData\Local\Temp\ipykernel_13420\715936937.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agency_data.drop(columns='fiscal_year',inplace=True)
C:\Users\bfran\AppData\Local\Temp\ipykernel_13420\715936937.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agency_data.drop(columns='fiscal_year',inplace=True)
C:\Users\bfran\AppData\Local\Temp\ipykernel_13420\715936937.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agency_data.drop(columns='fiscal_year',inplace=True)
C:\Users\bfran\AppData\Local\Temp\ipykernel_13420\715936937.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agency_data.drop(columns='fiscal_year',inplace=True)
C:\Users\bfran\AppData\Local\Temp\ipykernel_13420\715936937.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agency_data.drop(columns='fiscal_year',inplace=True)
C:\Users\bfran\AppData\Local\Temp\ipykernel_13420\715936937.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agency_data.drop(columns='fiscal_year',inplace=True)
C:\Users\bfran\AppData\Local\Temp\ipykernel_13420\715936937.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agency_data.drop(columns='fiscal_year',inplace=True)
C:\Users\bfran\AppData\Local\Temp\ipykernel_13420\715936937.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agency_data.drop(columns='fiscal_year',inplace=True)
C:\Users\bfran\AppData\Local\Temp\ipykernel_13420\715936937.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agency_data.drop(columns='fiscal_year',inplace=True)
C:\Users\bfran\AppData\Local\Temp\ipykernel_13420\715936937.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agency_data.drop(columns='fiscal_year',inplace=True)

Summary statistics for DEPT OF PARKS & RECREATION:
              count      min     mean      50%      max
agency_count    5.0  10414.0  13799.6  15120.0  15574.0
staff_needed    5.0    222.0    281.4    274.0    341.0
staff_hired     5.0    416.0   3512.4   2190.0   9415.0


Summary statistics for COMMUNITY COLLEGE (MANHATTAN):
              count     min    mean     50%     max
agency_count    5.0  4622.0  5229.8  5147.0  5813.0
staff_needed    5.0    28.0    32.4    32.0    37.0
staff_hired     5.0   194.0  1040.8   326.0  3759.0


Summary statistics for COMMUNITY COLLEGE (LAGUARDIA):
              count     min    mean     50%     max
agency_count    5.0  3813.0  4015.6  3977.0  4266.0
staff_needed    5.0    10.0    12.8    14.0    14.0
staff_hired     5.0    92.0   840.0   289.0  2971.0


Summary statistics for COMMUNITY COLLEGE (KINGSBORO):
              count     min         mean     50%     max
agency_count    3.0  2625.0  3540.333333  3669.0  4327.0
staff_needed    3.0     3.0     8.666667    11.0    12.0
staff_hired     3.0    97.0  1068.666667   416.0  2693.0


Summary statistics for DEPARTMENT OF SANITATION:
              count      min     mean      50%      max
agency_count    1.0  13179.0  13179.0  13179.0  13179.0
staff_needed    1.0   1330.0   1330.0   1330.0   1330.0
staff_hired     1.0   3733.0   3733.0   3733.0   3733.0


Summary statistics for COMMUNITY COLLEGE (QUEENSBORO):
              count     min    mean     50%     max
agency_count    4.0  3187.0  3328.5  3343.5  3440.0
staff_needed    4.0    16.0    20.5    21.5    23.0
staff_hired     4.0    66.0   834.0   452.5  2365.0


Summary statistics for COMMUNITY COLLEGE (BRONX):
              count     min         mean     50%     max
agency_count    3.0  2769.0  2927.000000  2906.0  3106.0
staff_needed    3.0     9.0    14.333333    17.0    17.0
staff_hired     3.0   137.0   917.333333   378.0  2237.0


Summary statistics for DEPARTMENT OF EDUCATION ADMIN:
              count      min          mean      50%      max
agency_count    6.0  13905.0  15735.333333  15756.5  17297.0
staff_needed    6.0    128.0    170.166667    176.5    212.0
staff_hired     6.0    267.0    953.500000    806.0   2047.0


Summary statistics for HRA/DEPT OF SOCIAL SERVICES:
              count      min     mean      50%      max
agency_count    1.0  14765.0  14765.0  14765.0  14765.0
staff_needed    1.0    352.0    352.0    352.0    352.0
staff_hired     1.0   1735.0   1735.0   1735.0   1735.0


Summary statistics for COMMUNITY COLLEGE (HOSTOS):
              count     min     mean     50%     max
agency_count    4.0  1783.0  1883.00  1876.5  1996.0
staff_needed    4.0    11.0    12.75    13.0    14.0
staff_hired     4.0    36.0   409.75   236.0  1131.0


Summary statistics for DEPT OF HEALTH/MENTAL HYGIENE:
              count     min    mean     50%     max
agency_count    4.0  6398.0  7424.0  7529.5  8239.0
staff_needed    4.0    93.0   125.5   130.5   148.0
staff_hired     4.0   194.0   564.5   520.5  1023.0


Summary statistics for ADMIN FOR CHILDREN'S SVCS:
              count     min     mean     50%     max
agency_count    4.0  6627.0  7243.00  7197.0  7951.0
staff_needed    4.0   281.0   437.25   389.0   690.0
staff_hired     4.0   511.0   789.75   751.5  1145.0


Summary statistics for DEPARTMENT OF CORRECTION:
              count      min     mean      50%      max
agency_count    1.0  11523.0  11523.0  11523.0  11523.0
staff_needed    1.0   1858.0   1858.0   1858.0   1858.0
staff_hired     1.0   2445.0   2445.0   2445.0   2445.0


Summary statistics for DEPT. OF HOMELESS SERVICES:
              count     min    mean     50%     max
agency_count    1.0  2389.0  2389.0  2389.0  2389.0
staff_needed    1.0   122.0   122.0   122.0   122.0
staff_hired     1.0   585.0   585.0   585.0   585.0


Summary statistics for NYC HOUSING AUTHORITY:
              count      min     mean      50%      max
agency_count    1.0  13759.0  13759.0  13759.0  13759.0
staff_needed    1.0    789.0    789.0    789.0    789.0
staff_hired     1.0   1239.0   1239.0   1239.0   1239.0


Summary statistics for GUTTMAN COMMUNITY COLLEGE:
              count    min        mean    50%    max
agency_count    6.0  342.0  479.500000  477.5  576.0
staff_needed    6.0    2.0    2.166667    2.0    3.0
staff_hired     6.0    6.0  134.500000   79.0  403.0


Summary statistics for DEPT OF INFO TECH & TELECOMM:
              count     min     mean     50%     max
agency_count    4.0  1359.0  1641.75  1698.5  1811.0
staff_needed    4.0    11.0    13.75    13.0    18.0
staff_hired     4.0   113.0   224.75   197.0   392.0


Summary statistics for BOARD OF ELECTION:
              count    min   mean    50%    max
agency_count    2.0  896.0  943.0  943.0  990.0
staff_needed    2.0  107.0  117.5  117.5  128.0
staff_hired     2.0  175.0  336.5  336.5  498.0


Summary statistics for HOUSING PRESERVATION & DVLPMNT:
              count     min         mean     50%     max
agency_count    6.0  2225.0  2597.833333  2617.0  2794.0
staff_needed    6.0    21.0    31.833333    31.5    44.0
staff_hired     6.0    38.0   184.333333   164.0   336.0


Summary statistics for DEPARTMENT OF FINANCE:
              count     min    mean     50%     max
agency_count    2.0  2069.0  2169.5  2169.5  2270.0
staff_needed    2.0    16.0    26.5    26.5    37.0
staff_hired     2.0   189.0   237.5   237.5   286.0


Summary statistics for OFFICE OF THE MAYOR:
              count    min        mean    50%    max
agency_count    3.0  560.0  619.333333  642.0  656.0
staff_needed    3.0    1.0    2.000000    2.0    3.0
staff_hired     3.0   10.0  144.666667  181.0  243.0


Summary statistics for LAW DEPARTMENT:
              count     min     mean     50%     max
agency_count    4.0  1760.0  1920.25  1920.0  2081.0
staff_needed    4.0     4.0    17.25    19.0    27.0
staff_hired     4.0    52.0   190.25   229.0   251.0


Summary statistics for DEPARTMENT OF PROBATION:
              count     min         mean     50%     max
agency_count    6.0  1043.0  1138.833333  1147.0  1240.0
staff_needed    6.0     6.0    12.166667    12.5    18.0
staff_hired     6.0    52.0   100.666667    79.5   226.0


Summary statistics for DISTRICT ATTORNEY-MANHATTAN:
              count     min    mean     50%     max
agency_count    5.0  1773.0  1895.0  1879.0  2078.0
staff_needed    5.0    16.0    23.6    24.0    27.0
staff_hired     5.0    42.0   134.0   163.0   231.0


Summary statistics for DEPARTMENT OF BUILDINGS:
              count     min         mean     50%     max
agency_count    7.0  1199.0  1706.285714  1849.0  2024.0
staff_needed    7.0    68.0    77.428571    76.0    89.0
staff_hired     7.0    70.0   151.000000   144.0   254.0


Summary statistics for DEPT. OF DESIGN & CONSTRUCTION:
              count     min     mean     50%     max
agency_count    4.0  1351.0  1410.75  1367.0  1558.0
staff_needed    4.0    11.0    17.25    17.0    24.0
staff_hired     4.0    20.0   101.25    95.0   195.0


Summary statistics for BRONX DISTRICT ATTORNEY:
              count     min    mean     50%     max
agency_count    5.0  1033.0  1205.2  1236.0  1319.0
staff_needed    5.0     5.0    13.6    14.0    22.0
staff_hired     5.0    38.0   117.8   151.0   165.0


Summary statistics for DEPT OF ENVIRONMENT PROTECTION:
              count     min    mean     50%     max
agency_count    1.0  6732.0  6732.0  6732.0  6732.0
staff_needed    1.0   435.0   435.0   435.0   435.0
staff_hired     1.0   580.0   580.0   580.0   580.0


Summary statistics for DISTRICT ATTORNEY KINGS COUNTY:
              count     min     mean     50%     max
agency_count    4.0  1261.0  1332.25  1306.5  1455.0
staff_needed    4.0    10.0    14.50    14.5    19.0
staff_hired     4.0    43.0    97.25    96.0   154.0


Summary statistics for DEPT OF YOUTH & COMM DEV SRVS:
              count    min   mean    50%    max
agency_count    4.0  485.0  583.5  606.5  636.0
staff_needed    4.0    1.0    2.0    2.0    3.0
staff_hired     4.0    8.0   61.5   51.0  136.0


Summary statistics for TAXI & LIMOUSINE COMMISSION:
              count    min   mean    50%    max
agency_count    5.0  645.0  725.0  729.0  800.0
staff_needed    5.0    9.0   19.6   24.0   24.0
staff_hired     5.0    9.0   75.6   80.0  137.0


Summary statistics for CIVILIAN COMPLAINT REVIEW BD:
              count    min   mean    50%    max
agency_count    5.0  212.0  236.0  229.0  273.0
staff_needed    5.0    3.0    4.8    5.0    6.0
staff_hired     5.0    8.0   41.4   29.0   98.0


Summary statistics for DISTRICT ATTORNEY QNS COUNTY:
              count    min        mean    50%     max
agency_count    6.0  739.0  856.000000  835.0  1002.0
staff_needed    6.0   12.0   12.333333   12.0    14.0
staff_hired     6.0   24.0   60.166667   54.5   104.0


Summary statistics for OFFICE OF MANAGEMENT & BUDGET:
              count    min   mean    50%    max
agency_count    5.0  396.0  462.0  447.0  531.0
staff_needed    5.0    4.0    6.2    7.0    8.0
staff_hired     5.0   18.0   47.2   40.0   88.0


Summary statistics for ADMIN TRIALS AND HEARINGS:
              count    min   mean    50%    max
agency_count    1.0  632.0  632.0  632.0  632.0
staff_needed    1.0    2.0    2.0    2.0    2.0
staff_hired     1.0   83.0   83.0   83.0   83.0


Summary statistics for NYC EMPLOYEES RETIREMENT SYS:
              count    min    mean    50%    max
agency_count    4.0  459.0  505.75  501.5  561.0
staff_needed    4.0   15.0   21.50   21.5   28.0
staff_hired     4.0   33.0   57.75   51.5   95.0


Summary statistics for OFFICE OF THE COMPTROLLER:
              count    min   mean    50%    max
agency_count    5.0  905.0  934.0  918.0  972.0
staff_needed    5.0    1.0    3.2    3.0    5.0
staff_hired     5.0   10.0   45.0   50.0   72.0


Summary statistics for DEPARTMENT OF INVESTIGATION:
              count    min    mean    50%    max
agency_count    4.0  248.0  329.75  334.0  403.0
staff_needed    4.0    5.0    7.75    7.0   12.0
staff_hired     4.0   16.0   42.75   46.5   62.0


Summary statistics for FINANCIAL INFO SVCS AGENCY:
              count    min    mean    50%    max
agency_count    4.0  437.0  452.25  454.5  463.0
staff_needed    4.0    3.0    4.25    3.5    7.0
staff_hired     4.0    9.0   30.25   29.0   54.0


Summary statistics for CONSUMER AFFAIRS:
              count    min        mean    50%    max
agency_count    3.0  454.0  458.333333  459.0  462.0
staff_needed    3.0    4.0    7.666667    5.0   14.0
staff_hired     3.0   12.0   37.000000   41.0   58.0


Summary statistics for OFFICE OF EMERGENCY MANAGEMENT:
              count    min        mean    50%    max
agency_count    7.0  149.0  206.285714  217.0  249.0
staff_needed    7.0    5.0    7.714286    7.0   13.0
staff_hired     7.0    9.0   20.714286   16.0   49.0


Summary statistics for TEACHERS RETIREMENT SYSTEM:
              count    min    mean    50%    max
agency_count    4.0  399.0  410.75  411.0  422.0
staff_needed    4.0    2.0    2.75    3.0    3.0
staff_hired     4.0   12.0   28.00   28.5   43.0


Summary statistics for CAMPAIGN FINANCE BOARD:
              count    min        mean    50%    max
agency_count    7.0  112.0  134.571429  134.0  155.0
staff_needed    7.0    1.0    3.142857    4.0    5.0
staff_hired     7.0    3.0   12.000000    7.0   23.0


Summary statistics for NYC POLICE PENSION FUND:
              count    min   mean    50%    max
agency_count    5.0  151.0  168.4  171.0  186.0
staff_needed    5.0    2.0    3.0    3.0    4.0
staff_hired     5.0    6.0   10.4   10.0   16.0


Summary statistics for DISTRICT ATTORNEY RICHMOND COU:
              count    min   mean    50%    max
agency_count    1.0  123.0  123.0  123.0  123.0
staff_needed    1.0    2.0    2.0    2.0    2.0
staff_hired     1.0   13.0   13.0   13.0   13.0


Summary statistics for NYC FIRE PENSION FUND:
              count   min       mean   50%   max
agency_count    3.0  36.0  42.000000  39.0  51.0
staff_needed    3.0   1.0   1.333333   1.0   2.0
staff_hired     3.0   3.0   6.000000   3.0  12.0


Summary statistics for TAX COMMISSION:
              count   min       mean   50%   max
agency_count    3.0  49.0  56.666667  59.0  62.0
staff_needed    3.0   1.0   1.000000   1.0   1.0
staff_hired     3.0   5.0   8.000000   8.0  11.0


Summary statistics for BUSINESS INTEGRITY COMMISSION:
              count   min       mean   50%    max
agency_count    3.0  91.0  97.000000  98.0  102.0
staff_needed    3.0   1.0   1.333333   1.0    2.0
staff_hired     3.0   5.0   7.333333   7.0   10.0


Summary statistics for DEPARTMENT OF BUSINESS SERV.:
              count    min   mean    50%    max
agency_count    1.0  389.0  389.0  389.0  389.0
staff_needed    1.0    1.0    1.0    1.0    1.0
staff_hired     1.0    9.0    9.0    9.0    9.0


Summary statistics for OFFICE OF THE ACTUARY:
              count   min  mean   50%   max
agency_count    2.0  36.0  38.0  38.0  40.0
staff_needed    2.0   1.0   1.5   1.5   2.0
staff_hired     2.0   2.0   3.5   3.5   5.0

C:\Users\bfran\AppData\Local\Temp\ipykernel_13420\715936937.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agency_data.drop(columns='fiscal_year',inplace=True)
C:\Users\bfran\AppData\Local\Temp\ipykernel_13420\715936937.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agency_data.drop(columns='fiscal_year',inplace=True)
C:\Users\bfran\AppData\Local\Temp\ipykernel_13420\715936937.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agency_data.drop(columns='fiscal_year',inplace=True)
C:\Users\bfran\AppData\Local\Temp\ipykernel_13420\715936937.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agency_data.drop(columns='fiscal_year',inplace=True)
C:\Users\bfran\AppData\Local\Temp\ipykernel_13420\715936937.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agency_data.drop(columns='fiscal_year',inplace=True)
C:\Users\bfran\AppData\Local\Temp\ipykernel_13420\715936937.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agency_data.drop(columns='fiscal_year',inplace=True)
C:\Users\bfran\AppData\Local\Temp\ipykernel_13420\715936937.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agency_data.drop(columns='fiscal_year',inplace=True)
C:\Users\bfran\AppData\Local\Temp\ipykernel_13420\715936937.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agency_data.drop(columns='fiscal_year',inplace=True)
C:\Users\bfran\AppData\Local\Temp\ipykernel_13420\715936937.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agency_data.drop(columns='fiscal_year',inplace=True)
C:\Users\bfran\AppData\Local\Temp\ipykernel_13420\715936937.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agency_data.drop(columns='fiscal_year',inplace=True)
C:\Users\bfran\AppData\Local\Temp\ipykernel_13420\715936937.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agency_data.drop(columns='fiscal_year',inplace=True)
C:\Users\bfran\AppData\Local\Temp\ipykernel_13420\715936937.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agency_data.drop(columns='fiscal_year',inplace=True)
C:\Users\bfran\AppData\Local\Temp\ipykernel_13420\715936937.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agency_data.drop(columns='fiscal_year',inplace=True)
C:\Users\bfran\AppData\Local\Temp\ipykernel_13420\715936937.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agency_data.drop(columns='fiscal_year',inplace=True)
C:\Users\bfran\AppData\Local\Temp\ipykernel_13420\715936937.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agency_data.drop(columns='fiscal_year',inplace=True)
C:\Users\bfran\AppData\Local\Temp\ipykernel_13420\715936937.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agency_data.drop(columns='fiscal_year',inplace=True)
C:\Users\bfran\AppData\Local\Temp\ipykernel_13420\715936937.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agency_data.drop(columns='fiscal_year',inplace=True)

In [2]:
ranking = pd.read_excel('ranking_w_boroughs.xlsx')

In [5]:
ranking.columns

Index(['Rank', 'Geographic Area', 'April 1, 2020\nEstimate Base',
       'July 1, 2020 Estimate', 'July 1, 2021 Estimate',
       'July 1, 2022 Estimate', 'July 1, 2023 Estimate'],
      dtype='object')

In [7]:
# forward fill nans with the percent change in population of the row above
percent_changes = ranking.copy()

# Get year to year percent changes
for col1, col2 in zip(['April 1, 2020\nEstimate Base', 'July 1, 2020 Estimate', 'July 1, 2021 Estimate', 'July 1, 2022 Estimate'],
                      ['July 1, 2020 Estimate', 'July 1, 2021 Estimate','July 1, 2022 Estimate', 'July 1, 2023 Estimate']):
    percent_changes[col2] = (ranking[col2] - ranking[col1]) / ranking[col1]

# Forward fill NaNs using the percent change from the previous row
for i in range(1, len(ranking)):
    for col1, col2 in zip(['April 1, 2020\nEstimate Base', 'July 1, 2020 Estimate', 'July 1, 2021 Estimate', 'July 1, 2022 Estimate'],
                          ['July 1, 2020 Estimate', 'July 1, 2021 Estimate','July 1, 2022 Estimate', 'July 1, 2023 Estimate']):
        if pd.isnull(ranking.at[i, col2]):
            ranking.at[i, col2] = ranking.at[i, col1] * (1 + percent_changes.at[i-1, col2])

In [13]:
ranking

,Rank,Geographic Area,"April 1, 2020\nEstimate Base","July 1, 2020 Estimate","July 1, 2021 Estimate","July 1, 2022 Estimate","July 1, 2023 Estimate"
0,1,"Los Angeles city, California",3898841,3895848,3832573.00,3822782.00,3820914.00
1,2,"Chicago city, Illinois",2746352,2743329,2704101.00,2672660.00,2664452.00
2,3,"Brooklyn borough, New York city, New York",2538934,2538934,2502628.73,2473530.28,2465933.82
3,4,"Houston city, Texas",2300833,2299269,2291020.00,2302488.00,2314157.00
4,5,"Queens borough, New York city, New York",2225821,2225821,2217835.51,2228937.17,2240233.42
...,...,...,...,...,...,...,...
1908,1909,"Plainview city, Texas",20183,20140,19897.00,19600.00,19420.00
1909,1910,"Harvey city, Illinois",20330,20251,19874.00,19545.00,19397.00
1910,1911,"Ypsilanti city, Michigan",20655,20605,19185.00,19739.00,19393.00
1911,1912,"Albany city, California",20271,20225,19814.00,19349.00,19097.00
1912,1913,"Coronado city, California",20196,18150,19046.00,18360.00,18437.00

In [14]:
cols2round = ['July 1, 2021 Estimate','July 1, 2022 Estimate', 'July 1, 2023 Estimate']
ranking[cols2round] = ranking[cols2round].round()
ranking

,Rank,Geographic Area,"April 1, 2020\nEstimate Base","July 1, 2020 Estimate","July 1, 2021 Estimate","July 1, 2022 Estimate","July 1, 2023 Estimate"
0,1,"Los Angeles city, California",3898841,3895848,3832573.00,3822782.00,3820914.00
1,2,"Chicago city, Illinois",2746352,2743329,2704101.00,2672660.00,2664452.00
2,3,"Brooklyn borough, New York city, New York",2538934,2538934,2502629.00,2473530.00,2465934.00
3,4,"Houston city, Texas",2300833,2299269,2291020.00,2302488.00,2314157.00
4,5,"Queens borough, New York city, New York",2225821,2225821,2217836.00,2228937.00,2240233.00
...,...,...,...,...,...,...,...
1908,1909,"Plainview city, Texas",20183,20140,19897.00,19600.00,19420.00
1909,1910,"Harvey city, Illinois",20330,20251,19874.00,19545.00,19397.00
1910,1911,"Ypsilanti city, Michigan",20655,20605,19185.00,19739.00,19393.00
1911,1912,"Albany city, California",20271,20225,19814.00,19349.00,19097.00
1912,1913,"Coronado city, California",20196,18150,19046.00,18360.00,18437.00

In [15]:
ranking.to_csv('ranking_w_boroughs.csv',index=False)

In [16]:
city_ranks = pd.read_excel('city_pop_ranks.xlsx')

In [17]:
city_ranks.to_csv('city_ranks',index = False)